@import url(fonts.css);
@import url(tablet.scss);
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  margin: 0 auto;
}

.container {
  width: 320px;
  margin: 0 auto;
  font-family: "Montserrat Regular";
}

header {
  background-image: url(./images/Head-Background-s.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 22px;
}

.logo {
  display: none;
}

.log-buttons {
  width: 153px;
  margin: 0 auto;
}

.log-buttons__button {
  font-size: 14px;
  line-height: 17px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  padding: 0;
}

.log-buttons__button_active {
  border: 2px solid white;
  width: 90px;
  height: 36px;
  border-radius: 40px;
  margin-left: 19px;
}

.main-title {
  margin-top: 95px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-title h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 26.5px;
}

.main-title h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 5.5px;
}

.main-title p {
  width: 260px;
  font-family: "Roboto Thin";
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.main-title__button {
  width: 280px;
  height: 40px;
  background: #ff4e50;
  border-radius: 40px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 15px 0 153px 0;
}

article h3 {
  color: #444444;
  font-family: "Montserrat Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

.first-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 33px;
  margin-bottom: 36px;
}

.first-article h3 {
  margin-bottom: 16px;
}

.first-article section {
  width: 300px;
  height: 240px;
  padding: 64px 30px 16px 20px;
}

.first-article section button {
  width: 70px;
  height: 20px;
  border-radius: 40px;
  background-color: #ff4e50;
  border: none;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  font-family: "Montserrat Regular";
}

.first-article section h2 {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 14px;
  font-family: "Montserrat Bold";
}

.first-article section p {
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  font-family: "Roboto Thin";
}

.first-article .step-1 {
  background-image: url(./images/Step-1-image-s.png);
}

.first-article .step-1 button {
  margin-bottom: 47px;
}

.first-article .step-1 p {
  margin-top: 24px;
}

.first-article .step-2 {
  background-image: url(./images/Step-2-image-s.png);
  margin: 10px 0;
}

.first-article .step-2 button {
  margin-top: 32px;
  margin-bottom: 30px;
}

.first-article .step-2 p {
  margin-top: 22px;
}

.first-article .step-3 {
  background-image: url(./images/Step-3-image-s.png);
}

.first-article .step-3 button {
  margin: 2px 0 45px 0;
}

.first-article .step-3 p {
  margin-top: 24px;
}

.second-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second-article h3 {
  text-align: center;
}

.second-article section {
  width: 236px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
}

.second-article section .avatar-hunter {
  position: relative;
}

.second-article section .avatar-hunter::after {
  content: url(./images/music.png);
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  background-color: #ff4e50;
  border: 4px solid white;
  top: 85px;
  left: 85px;
  padding: 7px;
}

.second-article section .avatar-wells {
  position: relative;
}

.second-article section .avatar-wells::after {
  content: url(./images/camera.png);
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  background-color: #ffa710;
  border: 4px solid white;
  top: 85px;
  left: 85px;
  padding: 7px;
}

.second-article section .avatar-bennett {
  position: relative;
}

.second-article section .avatar-bennett::after {
  content: url(./images/brush.png);
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  background-color: #19d4ca;
  border: 4px solid white;
  top: 85px;
  left: 85px;
  padding: 7px;
}

.second-article section .avatar-pierce {
  position: relative;
}

.second-article section .avatar-pierce::after {
  content: url(./images/airplane.png);
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  background-color: #667df3;
  border: 4px solid white;
  top: 85px;
  left: 85px;
  padding: 7px;
}

.second-article section .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.second-article section .profile-name {
  font-family: "Montserrat Bold";
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 17px 0 12px 0;
  color: #444444;
}

.second-article section #margin1 {
  margin-bottom: 17px;
}

.second-article section #margin2 {
  margin-bottom: 21px;
}

.second-article section .profile-description {
  color: #444444;
  font-family: "Roboto Thin";
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  padding: 5px 0;
}

.second-article button {
  width: 280px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #ff4e50;
  background: #ffffff;
  color: #ff4e50;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat Bold";
  margin: 35px 0;
}

.third-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
}

.third-article h3 {
  width: 280px;
  text-align: center;
  margin-bottom: 33px;
}

.third-article section {
  color: white;
  font-family: "Montserrat Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.third-article section .opacity {
  width: 100%;
  height: 100%;
  background: rgba(8, 8, 8, 0.2);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-article section .opacity p {
  display: block;
  width: 200px;
  text-align: center;
}

.third-article__sport {
  background: url(./images/sport-s.png);
  width: 300px;
  height: 120px;
}

.third-article__wellness {
  background-image: url(./images/wellnes-s.png);
  width: 300px;
  height: 120px;
}

.third-article__extreme {
  background-image: url(./images/extreme-s.png);
  width: 300px;
  height: 120px;
}

.third-article__games {
  background-image: url(./images/games-s.png);
  width: 300px;
  height: 120px;
}

.third-article__culture {
  background-image: url(./images/culture.png);
  width: 300px;
  height: 120px;
}

.third-article__relax {
  background-image: url(./images/relax-s.png);
  width: 300px;
  height: 120px;
}

.third-article__trevelling {
  background-image: url(./images/treveling-s.png);
  width: 300px;
  height: 120px;
}

.fourth-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.fourth-article h3 {
  width: 280px;
  text-align: center;
  margin-bottom: 17px;
}

.fourth-article p {
  font-family: "Roboto";
  color: #666666;
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.fourth-article .form {
  width: 280px;
  height: 40px;
  color: #999999;
  font-family: "Roboto Thin";
  font-size: 14px;
  line-height: 16px;
  padding: 14px 0 10px 15px;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  margin-bottom: 10px;
}

.fourth-article .search-button {
  width: 280px;
  height: 40px;
  background: #ff4e50;
  border: none;
  border-radius: 40px;
  color: #ffffff;
  font-family: "Montserrat Bold";
  font-size: 14px;
  line-height: 17px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 2px solid #ff4e50;
  padding: 19px 0 22px 0;
}

footer h3 {
  color: #ff4e50;
  font-family: "Montserrat Regular";
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 13px;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
}

footer nav h5 {
  font-family: "Montserrat Bold";
  color: #444444;
  font-size: 14px;
  line-height: 17px;
  margin-top: 3px;
}

footer nav .footer-menu {
  width: 220px;
  text-align: center;
  margin-bottom: 4px;
}

footer nav li {
  display: inline;
  margin-right: 10px;
}

footer nav a {
  font-family: "Roboto Thin";
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  color: #999999;
}

footer nav .footer-logo {
  margin-top: 14px;
}

footer nav .footer-logo h6 {
  font-family: "Montserrat Bold";
  font-size: 10px;
  line-height: 12px;
  color: #cccccc;
  text-align: center;
  margin-bottom: 7px;
}

footer nav .footer-logo img {
  width: 110px;
  height: 24px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
  header {
    width: 768px;
    height: 700px;
    background-image: url(./images/Head-Background-m.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 224px;
  }
  .logo {
    display: inline-block;
    font-family: "Montserrat Bold";
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin-left: 48px;
    margin-top: 6px;
  }
  .log-buttons {
    float: right;
    margin-right: 50px;
  }
  .main-title {
    margin-top: 152px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main-title h3 {
    display: none;
  }
  .main-title h2 {
    display: inline-block;
    width: 475px;
    font-size: 52px;
    line-height: 63px;
    letter-spacing: 1px;
    margin-bottom: 28.5px;
  }
  .main-title p {
    width: 396px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 22px;
  }
  .main-title__button {
    width: 225px;
    letter-spacing: 0.6px;
  }
  .first-article {
    margin-top: 94px;
    margin-bottom: 95px;
  }
  .first-article h3 {
    margin-bottom: 35px;
  }
  .first-article .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first-article .steps section {
    width: 236px;
    height: 400px;
    padding-top: 0;
  }
  .first-article .steps .step-1 {
    background-image: url(./images/Step-1-image-m.png);
  }
  .first-article .steps .step-1 button {
    margin: 205px 0 45px 0;
  }
  .first-article .steps .step-1 p {
    margin-top: 33px;
  }
  .first-article .steps .step-2 {
    background-image: url(./images/Step-2-image-m.png);
    margin: 0 20px;
  }
  .first-article .steps .step-2 button {
    margin-top: 255px;
    margin-bottom: 18px;
  }
  .first-article .steps .step-2 p {
    margin-top: 23px;
  }
  .first-article .steps .step-3 {
    background-image: url(./images/Step-3-image-m.png);
  }
  .first-article .steps .step-3 button {
    margin: 205px 0 45px 0;
  }
  .first-article .steps .step-3 p {
    margin-top: 33px;
  }
  .second-article h3 {
    text-align: center;
    margin-bottom: 19px;
  }
  .second-article .profiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 492px;
  }
  .second-article #hunter {
    margin-bottom: 34px;
    margin-right: 20px;
  }
  .second-article #bennett {
    margin-right: 20px;
  }
  .second-article section #margin1 {
    margin-bottom: 17px;
  }
  .second-article section #margin2 {
    margin-bottom: 21px;
  }
  .second-article section .profile-description {
    color: #444444;
    font-family: "Roboto Thin";
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding: 5px 0;
  }
  .second-article button {
    width: 180px;
    margin: 45px 0;
  }
  .third-article {
    margin-top: 50px;
    margin-bottom: 84px;
  }
  .third-article h3 {
    width: 350px;
    text-align: center;
    margin-bottom: 35px;
  }
  .third-article .activitys {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .third-article__sport {
    background: url(./images/sport-m.png);
    width: 236px;
    height: 310px;
  }
  .third-article__sport p {
    margin-bottom: 25px;
  }
  .third-article__wellness {
    background-image: url(./images/wellnes-m.png);
    width: 236px;
    height: 310px;
    margin: 0 20px;
  }
  .third-article__extreme {
    background-image: url(./images/extreme-m.png);
    width: 236px;
    height: 310px;
  }
  .third-article__games {
    background-image: url(./images/games-m.png);
    width: 236px;
    height: 310px;
    margin-top: 10px;
  }
  .third-article__culture {
    background-image: url(./images/culture-m.png);
    width: 492px;
    height: 310px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .third-article__relax {
    background-image: url(./images/relax-m.png);
    width: 492px;
    height: 310px;
    margin-top: 10px;
  }
  .third-article__trevelling {
    background-image: url(./images/treveling-m.png);
    width: 236px;
    height: 310px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .fourth-article {
    margin-bottom: 92px;
  }
  .fourth-article h3 {
    width: 303px;
    margin-bottom: 51px;
  }
  .fourth-article p {
    margin-bottom: 25px;
  }
  .fourth-article .form {
    width: 299px;
    height: 40px;
    margin-right: 8px;
  }
  .fourth-article .search-button {
    width: 172.12px;
    height: 40px;
  }
  footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 38px 37px 20px 39px;
  }
  footer nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  footer nav h5 {
    margin-top: 0;
  }
  footer nav .footer-menu {
    width: 114px;
    margin: 0 56px 0 108px;
  }
  footer nav .footer-menu h5 {
    text-align: start;
  }
  footer nav .footer-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer nav .footer-menu li {
    display: inline;
    margin-right: 0;
  }
  footer nav .footer-menu a {
    font-family: "Roboto Thin";
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #999999;
  }
  footer nav .footer-logo {
    margin: 0 0 0 118px;
  }
  footer nav .footer-logo h6 {
    margin: 0 0 7px 25px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
  header {
    width: 1440px;
    background-image: url(./images/Head-Background-L.png);
  }
  .logo {
    display: inline-block;
    margin-left: 248px;
  }
  .log-buttons {
    float: right;
    margin-right: 290px;
  }
  .main-title h2 {
    margin-top: 4px;
    margin-bottom: 30px;
  }
  .main-title p {
    margin-bottom: 19px;
  }
  .main-title__button {
    width: 225px;
    letter-spacing: 0.6px;
  }
  .first-article {
    margin-bottom: 89px;
  }
  .first-article h3 {
    font-size: 26px;
    line-height: 32px;
    margin-top: -4px;
    margin-bottom: 35px;
  }
  .first-article .steps section {
    width: 300px;
  }
  .first-article .steps .step-1 {
    background-image: url(./images/Step-1-image-L.png);
  }
  .first-article .steps .step-1 button {
    letter-spacing: 2px;
    padding: 4px 0 0 2px;
    margin: 218px 0 23px 5px;
  }
  .first-article .steps .step-1 h2 {
    margin-left: 7px;
    font-size: 24px;
    line-height: 26px;
  }
  .first-article .steps .step-1 p {
    margin: 25px 0 0 5px;
  }
  .first-article .steps .step-2 {
    background-image: url(./images/Step-2-image-L.png);
  }
  .first-article .steps .step-2 button {
    margin: 250px 0 30px 5px;
  }
  .first-article .steps .step-2 h2 {
    margin-left: 7px;
  }
  .first-article .steps .step-2 p {
    margin: 23px 0 0 4px;
  }
  .first-article .steps .step-3 {
    background-image: url(./images/Step-3-image-L.png);
  }
  .first-article .steps .step-3 button {
    margin: 218px 0 22px 5px;
  }
  .first-article .steps .step-3 h2 {
    margin-left: 4px;
    line-height: 26px;
  }
  .first-article .steps .step-3 p {
    margin: 26px 0 0 5px;
  }
  .second-article h3 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 35px;
  }
  .second-article .profiles {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 1000px;
  }
  .second-article #hunter {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 2px 0 0;
  }
  .second-article #bennett {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 4px 0 0;
  }
  .second-article #wells {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0;
  }
  .second-article #pierce {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin: 0 0 0 5px;
  }
  .second-article section #margin1 {
    margin-bottom: 0;
  }
  .second-article section #margin2 {
    margin-bottom: 0;
  }
  .second-article button {
    width: 180px;
    margin: 56px 0 0 0;
  }
  .third-article {
    margin-top: 90px;
    margin-bottom: 0;
  }
  .third-article h3 {
    width: 413px;
    font-size: 26px;
    line-height: 32px;
  }
  .third-article .activitys {
    width: 940px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .third-article section .opacity p {
    width: 238px;
  }
  .third-article__sport {
    background: url(./images/sport-L.png);
    width: 300px;
    height: 310px;
  }
  .third-article__sport p {
    margin-top: 15px;
  }
  .third-article__wellness {
    background-image: url(./images/wellnes-L.png);
    width: 300px;
    height: 310px;
  }
  .third-article__extreme {
    background-image: url(./images/extreme-L.png);
    width: 300px;
    height: 310px;
  }
  .third-article__games {
    background-image: url(./images/games-L.png);
    width: 300px;
    height: 310px;
  }
  .third-article__culture {
    background-image: url(./images/culture-L.png);
    width: 620px;
    height: 310px;
  }
  .third-article__relax {
    background-image: url(./images/relax-L.png);
    width: 620px;
    height: 310px;
  }
  .third-article__trevelling {
    background-image: url(./images/treveling-L.png);
    width: 300px;
    height: 310px;
  }
  .fourth-article {
    margin-top: 79px;
    margin-bottom: 92px;
  }
  .fourth-article h3 {
    font-size: 26px;
    line-height: 32px;
    width: 358px;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 38px 37px 20px 249px;
  }
  footer nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  footer nav h5 {
    margin-top: 0;
  }
  footer nav .footer-menu {
    width: 114px;
    margin: 0 126px 0 122px;
  }
  footer nav .footer-menu h5 {
    margin-bottom: 11px;
  }
  footer nav .footer-logo {
    margin: 0 0 0 287px;
  }
  footer nav .footer-logo h6 {
    margin: 0 0 7px 25px;
  }
}
/*# sourceMappingURL=main.css.map */