@import url(reset.css);
@import url(fonts.css);

body {
    font-family: 'Kanit-Medium';
}

.wrapper {
    width: 100%;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 120px;
    z-index: 1;
}

.container {
    max-width: 1440px;
    margin: 0 auto; 
}

.header__body {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    padding-left: 47px;
    position: relative;
    z-index: 0;
    background-color: #fff;
}

.header__burger {
    position: relative;
    width: 33px;
    height: 33px;
    z-index: 150;
    transition: all 0.3s;
}

.header__burger span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    left: 0;
    top: 16.5px;
    z-index: 10;
}

.header__burger:before, 
.header__burger:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: #000;
    z-index: 10;
    transition: all 0.3s ease 0s;
}

.header__burger:before {
    top: 0;
}

.header__burger:after {
    bottom: 0;
}

.header__burger:hover:before {
   transform: rotate(45deg);
   top: 16.5px;
}
.header__burger:hover:after {
    transform: rotate(-45deg);
    top: 16.5px;
}

.header__burger:hover span {
    background-color: transparent;
    transition: 0.3s;
}

.header__menu {
    width: 344px;
    height: 359px;
    padding-top: 52px;
    padding-left: 66px;
    background-color: #fff;
    display: none;
    position: absolute;
    top: 33px;
    left: 0px;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
}

.header__burger:hover .header__menu {
    display: block;
}

.header__list li {
    margin-bottom: 15px;
}

.header__link {
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000;
}

.heder__logo {
    width: 157px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -78.5px;
}


.main__content {
    padding-top: 120px;
}

.slayder__one {
    max-height: 570px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
}

.slaider__item {
    flex: 0 1 50%;
}

.slaider__item img {
    width: 100%;
}

.sliContent {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding-top: 110px;
}

.slaider__item-container {
    max-width: 503px;
    width: 100%;
}

.date-description {
    width: 100%;
    display: flex;
    justify-content: space-between;  
}

.dateBlock {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 7px;
    color: #fff;
}

.descriptionBlock a {
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
}

.slider-title {
    font-size: 28px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 66px 0px 29px 0px;
}

.slider-text {
    font-family: 'Kanit-Light';
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 54px;
}

.button {
    width: 198px;
    height: 55px;
    font-size: 12px;
    line-height: 18px;
    padding: 19px 0px 18px 0px;
    text-align: center;
    border: 1px solid #FFFFFF;
    background-color: #000;
}

.btn-link {
    color: #FFFFFF;
}

.intoCont {
    max-width: 1141px;
    margin: 0 auto;
}

.titleLine {
    font-size: 18px;
    line-height: 27px;
    color: #1F1F1D;
}

.slider__two {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
}

.slider__two-item {
    flex: 0 1 557px;
}

.slider__two-img {
    width: 100%;
    margin-bottom: 26px;
}

.dateMod-1 {
    color: #000;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
}

.descrMod-1 a {
    color: #000;
    font-size: 12px;
    line-height: 18px;
}

.textBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63px;
}

.textBlock__column {
    flex: 0 1 557px;
}

.textBlock__title {
    font-size: 24px;
    line-height: 36px;
    color: #1F1F1D;
    margin-bottom: 19px;
    text-align: justify;
}

.textBlock__subtitle {
    font-family: 'Kanit-Light';
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #1F1F1D;
}

.blockWithSlider {
    width: 100%;
    margin-bottom: 71.33px;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
}

.slider-item {
    flex: 0 1 363px;
}

.slider-img {
    width: 100%;
}

.date-description.slItem {
    margin: 18px 0px 22px 0px;
}

.slider-signature {
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #1F1F1D;
}

.btnSlider {
    display: block;
    width: 238px;
    height: 42px;
    background: #303030;
    font-size: 14px;
    line-height: 42px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

.btn-slider-link {
    color: #FFFFFF;
}

.slider-3 {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-3-bg {
    background-color: #000;
}

.slider-3-itemContainer {
    padding: 0;
    margin: 0;
}

.slider-3-title {
    padding: 0;
    margin: 0;
    font-size: 32px;
    line-height: 51px;
    margin-bottom: 20px;
    letter-spacing: 1.3px;
}

.slider-3-btn {
    padding: 0;
    margin: 0;
    width: 198px;
    height: 42px;
    font-size: 14px;
    line-height: 21px;   
    
}

.slayder__one-margin {
    margin-bottom: 63.67px;
}

.mgInterviews {
    margin-bottom: 31px;
}

.mgNextBlock-1 {
    margin-bottom: 33px;
}

.mgToBtn-1 {
    margin-bottom: 38px;
}

.date-description.mgBetween-1 {
    margin: 9px 0px 31px 0px;
}

.mgNews {
    margin-bottom: 28px;
}

.mgNextBlock-2 {
    margin-bottom: 0px;
}

.mgToBtn-2 {
    margin-bottom: 31px;
}

.date-description.mgBetween-2 {
    margin: 19px 0px 24px 0px;
}

.footer {
    margin-top: 100px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    height: 142px;
    text-align: center;
    background-color: #000;
}

.footer-content a {
    display: block;
    margin: 55px 0px 38px 0px;
}

.footer-content p {
    font-family: "Kanit-Light";
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}