@import url(reset.css);

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: 0 auto;
    background-color: burlywood;
}

main {
    background-color: #FFFFFF;
}

.header {
    width: 1440px;
    height: 120px;
    background-color: #FFFFFF;
    position: relative;
}
.header-suffix {
    width: 157px;
    height: 30px;
    position: absolute;
    top: 45px;
    left: 645px;
}
.vraper {
    width: 344px;
    height: 117px;
    position: absolute;
    left: 0;
    background-color: #FFFFFF;
    color: #000;
}
#check-menu {
    display: none;
}
label {
    display: block;
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; 
    z-index: 2;
    line-height: 40px;
}
.menu-line {
    margin-top: 40px;
    position: absolute;
    top: 8px;
    left: 50px;
    width: 35px;
    height: 3px;
    background-color: #000;
    transition: 0.5s all;
}
.second, .third {
    top: 18px;
}
.fourth {
    top: 28px;
}
.menu {   
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0; 
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
    background-color: #FFFFFF;
}
.menu-list {
    display: block;
    width: 100%;
    color: #000;
    padding: 10px;
    background-color: #FFFFFF;
}
#check-menu:checked ~ .menu {
    max-height: 500px;
    padding: 30px 36% 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
#check-menu:checked ~ .first{
    display: none;
}
#check-menu:checked ~ .second {
    transform: rotate(45deg);
}
#check-menu:checked ~ .third{
    transform: rotate(-45deg);
}
#check-menu:checked ~ .fourth {
    display: none;
}
        /* content */

.slider {
    width: 1440px;
    height: 570px;
    display: flex;
}
.slider-img {
    background-color: #FFFFFF;
}
.slidtr-black_square {
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #000;
    padding: 110px 74px;
}
.black_square-link { 
    display: inline;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    margin-left: 416px;    
}
.black_square-title {
    margin: 70px 0px 30px 0px;
}
.button {
    display: block;
    width: 198px;
    height: 55px;
    margin-top: 65px;
    border: solid 1px #FFFFFF;
    background-color: #000;
    color: #FFFFFF;
    font-size: 12px;
}
                     /* I */
aside {
    margin: 0px 145px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.section_featured {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    height: 700px;
    padding-top: 40px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}
.section_article {
    width: 557px;
    height: 368px;
    margin: 0px -100px;
}
figcaption {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.span {
    display: block;
    margin: 30px 0;
}
.span_link {
    display: block;
    margin: 30px 0;
    color: #000;
}
.article {
    margin: 50px 0px;
}
                     /* II */

.section_featured1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    height: 445px;
    width: 1160px;
    padding-top: 40px;
    font-family: 'Kanit', sans-serif;
}
.section_article1 {
    width: 363px;
    height: 240px;
    margin: 0; 
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.button1 {
    display: block;
    height: 42px;
    width: 238px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin: 70px auto;
    color: #FFFFFF;
    background-color: #000;
}                    

/* III */

.slider1 {
    width: 1160px;
    height: 360px;
    display: flex;
}
.slider-img1 {
    width: 580px ;
    background-color: #FFFFFF;
}

.slidtr-black_square1 {
    width: 580px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #000;
}
.black_square1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button2 {
    display: block;
    width: 198px;
    height: 55px;
    border: solid 1px #FFFFFF;
    background-color: #000;
    color: #FFFFFF;
    font-size: 12px;
}
.section_featured2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    height: 320px;
    width: 1160px;
    padding-top: 40px;
    font-family: 'Kanit', sans-serif;
}
.section_article2 {
    width: 363px;
    height: 240px;
    margin: 0; 
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.button3 {
    display: block;
    width: 198px;
    height: 55px;
    border: solid 1px #FFFFFF;
    background-color: #000;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0 auto;
} 
.button3-1 {
    width: 1440px;
    height: 160px;
    background-color: #FFFFFF;
    margin-top: 220px;
}
.footer {
    width: 1440px;
    height: 163px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer-suffix {
    width: 157px;
    height: 30px;
    top: 45px;
    left: 645px;
}
.footer_pan {
    color: #FFFFFF;
    margin-top: 50px;
}
