@font-face {
  font-family: "AvenirNextCyr";
  font-display: swap;
  src: url("../fonts/AvenirNextCyr.woff") format("woff"), url("../fonts/AvenirNextCyr.woff2") format("woff2");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: medium;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

html {
  height: 100%;
  overflow-x: hidden;
}

html,
body,
a,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  line-height: 1;
  list-style: none;
  border-width: 0;
  font-family: 'Gilroy', sans-serif;
  color: #333;
  font-weight: 400;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  z-index: 1;
}

body {
  overflow-x: hidden;
  line-height: 1;
  height: 100%;
  position: relative;
}

.info-text a,
.info-text p {
  font-size: 14px;
  line-height: 1.7;
  color: #333;
}

.paragraph p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

.main-heading {
  font-size: 100px;
  color: #515151;
  font-weight: 700;
  line-height: 1;
}

.heading {
  font-size: 25px;
  color: #515151;
  line-height: 1.17;
  font-weight: 700;
}

.section-heading {
  max-width: 760px;
  font-size: 60px;
  line-height: 66px;
  color: #515151;
  font-weight: bold;
}

.section-heading--color {
  color: #65951E;
}

.footer-heading {
  font-size: 18.6px;
  line-height: 1.7;
  font-weight: 700;
}

@font-face {
  font-family: 'icomoon';
  src: url("../icons/icomoon.eot?msupkj");
  src: url("../icons/icomoon.eot?msupkj#iefix") format("embedded-opentype"), url("../icons/icomoon.ttf?msupkj") format("truetype"), url("../icons/icomoon.woff?msupkj") format("woff"), url("../icons/icomoon.svg?msupkj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e90d";
}

.icon-address:before {
  content: "\e90e";
}

.icon-phone:before {
  content: "\e90f";
}

.icon-food-icon:before {
  content: "\e905";
}

.icon-briliant-icon:before {
  content: "\e900";
}

.icon-calendar:before {
  content: "\e901";
}

.icon-chicken:before {
  content: "\e902";
}

.icon-document-icon:before {
  content: "\e903";
}

.icon-facebook:before {
  content: "\e904";
}

.icon-package:before {
  content: "\e906";
}

.icon-people:before {
  content: "\e907";
}

.icon-telegram:before {
  content: "\e908";
}

.icon-thermometer:before {
  content: "\e909";
}

.icon-viber:before {
  content: "\e90a";
}

.icon-watsup:before {
  content: "\e90b";
}

.icon-weight:before {
  content: "\e90c";
}

.button {
  padding: 15px 25px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  background-color: #86C127;
  -webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px 0 0 8px;
  position: relative;
}

.button::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #65951E;
  border-radius: 8px 0 0 8px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
}

.button::after {
  position: absolute;
  top: 0;
  right: -48px;
  content: "";
  height: 100%;
  width: 48px;
  background-image: url("../img/icons/button-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #65951E;
  border-radius: 0 8px 8px 0;
}

.button:hover {
  cursor: pointer;
}

.button:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.input {
  border-radius: 8px;
  height: 60px;
  width: 415px;
  min-width: 200px;
  padding: 18px 24px;
}

.input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.input::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.input {
  border-radius: 8px;
  height: 60px;
  width: 415px;
  min-width: 200px;
  padding: 18px 24px;
}

.input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.input::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.section {
  position: relative;
  padding: 35px calc((100% - 1300px) / 2) 38px;
  margin: 0 auto;
}

.header {
  z-index: 100;
  width: calc(100% - 14px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  padding: 23px calc((100% - 1300px) / 2) 23px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__lang {
  margin-left: 30px;
}

.header--scroll {
  background-color: #f1f1f1;
}

.header--out {
  background-color: #f1f1f1;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.primary-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.menu-item {
  margin-right: 36px;
  position: relative;
}

.menu-item::before {
  content: "";
  height: 25px;
  width: 25px;
  border: 2px solid #65951E;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: -11px;
  top: -6px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu-item:hover {
  text-decoration: none;
}

.menu-item:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.menu-item:last-of-type {
  margin-right: 0;
}

.menu-item__link {
  color: #333;
  font-size: 14px;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lang__item {
  display: none;
}

.lang__item:hover {
  cursor: pointer;
}

.lang__item--active {
  display: inline;
}

.lang__arrow {
  display: block;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 5px;
}

.lang__arrow:hover {
  cursor: pointer;
}

.footer {
  background-color: #efefef;
  padding-bottom: 25px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  margin-right: 105px;
  margin-bottom: 30px;
}

.footer__logo {
  margin-right: 60px;
}

.footer__heading {
  margin-bottom: 10px;
}

.footer__text {
  max-width: 285px;
  margin-bottom: 7px;
}

.footer__icons {
  margin-top: 15px;
}

.footer .icon {
  font-size: 36px;
  color: #86C127;
  margin-right: 10px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.footer .icon:hover {
  color: #65951E;
}

.footer__companies a {
  margin-right: 45px;
}

.footer__companies a img {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.footer__companies a:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__companies a:last-of-type {
  margin-right: 0;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright a {
  font-weight: bold;
  position: relative;
}

.footer__copyright a::before,
.footer__copyright a::after {
  content: "";
  height: 2px;
  width: 100%;
  left: 0;
  background-color: #65951E;
  position: absolute;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.footer__copyright a::before {
  top: -3px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.footer__copyright a::after {
  bottom: -3px;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.footer__copyright a:hover {
  color: #65951E;
}

.footer__copyright a:hover::before,
.footer__copyright a:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.head {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background-image: url("../img/home/home-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 700px;
}

.head__photo {
  position: absolute;
  right: 0;
  top: 135px;
  max-width: 60%;
  overflow: hidden;
}

.head__photo img {
  max-height: 480px;
}

.head__photo::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -2;
  height: 60%;
  width: 90%;
  background-color: #679A1A;
  border-radius: 50px 0 0 50px;
}

.head__info {
  max-width: 40vw;
}

.head__info .heading {
  margin: 15px 0 12px;
  line-height: 1.17;
}

.head__text {
  margin-bottom: 23px;
  max-width: 415px;
}

.head__others {
  margin-top: 65px;
}

.head__others .heading {
  margin-bottom: 16px;
}

.head__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc((100vw - 1300px) / -2);
}

.head__item {
  position: relative;
  overflow: hidden;
}

.head__item img {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.head__item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.head__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  position: absolute;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #fff;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 26, 29, 0)), to(#351a1d));
  background: -o-linear-gradient(top, rgba(53, 26, 29, 0) 0%, #351a1d 100%);
  background: linear-gradient(180deg, rgba(53, 26, 29, 0) 0%, #351a1d 100%);
}

.head__item:last-of-type {
  border-radius: 0 20px 20px 0;
}

.head__item:last-of-type .home__item-text {
  border-radius: 0 0 20px;
}

.advantage {
  padding-top: 120px;
  padding-bottom: 95px;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantage__list::before {
  z-index: -1;
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  top: 224px;
  left: 0;
  background-color: rgba(229, 213, 68, 0.5);
}

.advantage__image {
  margin-bottom: 20px;
  position: relative;
  background-color: #fff;
  height: 223px;
  width: 223px;
  border: 15px solid rgba(229, 213, 68, 0.5);
  border-radius: 50%;
}

.advantage__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage__item:hover img {
  -webkit-transform: scale(1.1) translate(-50%, -50%);
      -ms-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
}

.photo-slider {
  padding-top: 30px;
  padding-bottom: 80px;
  text-align: center;
  background-image: url("../img/home/slider-bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.photo-slider__heading {
  margin: 0 auto;
}

.photo-slider__text {
  margin: 10px auto 15px;
  max-width: 885px;
}

.photo-slider .slider {
  max-width: 760px;
  position: relative;
  margin: 0 auto;
}

.photo-slider .slider__item img {
  border-radius: 20px;
}

.photo-slider .slider .slick {
  position: relative;
}

.photo-slider .slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo-slider .slider .slick-slide {
  -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
          transform: scale(0.2);
  opacity: .5;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.photo-slider .slider .slick-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.photo-slider .slider .slick-arrow {
  position: absolute;
  top: 220px;
  -webkit-transform: translateY(-32%);
      -ms-transform: translateY(-32%);
          transform: translateY(-32%);
  font-size: 0;
  background-image: url("../img/icons/arrow-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff0;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  height: 50px;
  width: 30px;
  opacity: .7;
}

.photo-slider .slider .slick-arrow:hover {
  cursor: pointer;
}

.photo-slider .slider .slick-prev {
  left: -35%;
  z-index: 1;
}

.photo-slider .slider .slick-next {
  right: -35%;
  -webkit-transform: rotate(180deg) translateY(32%);
      -ms-transform: rotate(180deg) translateY(32%);
          transform: rotate(180deg) translateY(32%);
}

.photo-slider .slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 44px auto 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.photo-slider .slider .slick-dots button {
  font-size: 0;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin: 0 3px;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  background-color: #c4c4c4;
}

.photo-slider .slider .slick-dots .slick-active button {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background-color: #86C127;
  margin: 0 3px;
}

.photo-slider__button {
  position: relative;
  left: -24px;
}

.none-right {
  -webkit-transform-origin: 5% center;
      -ms-transform-origin: 5% center;
          transform-origin: 5% center;
}

.none-left {
  -webkit-transform-origin: 95% center;
      -ms-transform-origin: 95% center;
          transform-origin: 95% center;
}

.contact-form {
  background-color: rgba(101, 149, 30, 0.2);
}

.contact-form__heading {
  font-size: 40px;
  line-height: 79px;
  color: #333;
}

.contact-form__paragraph {
  font-size: 24px;
  line-height: 32px;
  max-width: 555px;
}

.contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact-form__input {
  margin: 21px 30px 24px 0;
  max-width: calc((100% - 68px) / 3);
}

.contact-form__input:last-of-type {
  margin-right: 0;
}

.contact-form__info {
  margin-left: 55px;
}

.contact-form__item {
  max-width: 310px;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form__item a,
.contact-form__item p {
  font-size: 14px;
  line-height: 1.7;
}

.contact-form__item .icon {
  position: relative;
  top: 5px;
  margin-right: 8px;
}

.our-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.our-products .description {
  position: relative;
  width: calc((100vw - (100vw - 1300px) / 2) / 2);
  overflow: hidden;
}

.our-products .description .slick {
  width: 100%;
}

.our-products .description .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-products .description__item {
  padding: 30px 0;
}

.our-products .description__paragraph {
  max-width: 540px;
  height: 140px;
  overflow-y: scroll;
  padding: 5px 27px 5px 0;
  margin: 34px 0 27px;
}

.our-products .description__paragraph::-webkit-scrollbar {
  width: 3px;
}

.our-products .description__paragraph::-webkit-scrollbar-thumb {
  background-color: #333;
}

.our-products .description__paragraph::-webkit-scrollbar-track {
  background-color: #c4c4c4;
  border: 1px solid #fff;
}

.our-products .description .details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0;
}

.our-products .description .details__item p {
  line-height: 20px;
  margin-left: 8px;
}

.our-products .description .details__item p:last-of-type {
  font-weight: 700;
}

.our-products .description .details__icon {
  color: #65951E;
  font-size: 24px;
}

.our-products .photos {
  max-width: 450px;
  height: 570px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.our-products .photos__item {
  text-align: center;
}

.our-products .photos .slick {
  width: 100%;
  z-index: 100;
}

.our-products .photos .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-products .photos .slick-arrow {
  z-index: 1;
  position: absolute;
  bottom: 0;
  font-size: 0;
  height: 50px;
  width: 30px;
  background-image: url("../img/icons/arrow-slider.svg");
  background-color: #fff0;
  background-repeat: no-repeat;
  background-position: center;
}

.our-products .photos .slick-arrow:hover {
  cursor: pointer;
}

.our-products .photos .slick-next {
  right: 15px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.our-products .photos .slick-prev {
  left: 15px;
}

.our-products .photos .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  bottom: 25px;
}

.our-products .photos .slick-dots button {
  font-size: 0;
  height: 7px;
  width: 7px;
  background-color: #c4c4c4;
  margin: 6px;
  border-radius: 50%;
}

.our-products .photos .slick-dots .slick-active button {
  height: 13px;
  width: 13px;
  margin: 3px;
  background-color: #333;
}

@media (min-width: 1600px) {
  .head__list {
    margin-left: -60px;
  }

  .head__item:first-of-type {
    border-radius: 20px 0 0 20px;
  }
}

@media (max-width: 1365px) {
  .section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .head__list {
    margin-left: -30px;
  }
}

@media (max-width: 1100px) {
  .our-products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-height: 797px) {
  .head {
    height: 797px;
  }
}