@import url('./fonts.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo{
    margin-top: 4px;
}

.slider{
    width: 1440px;
    height: 570px;
    margin: 0 auto;
    display: flex;
}

.slider-left{
    width: 720px;
    height: 100%;
    background-image: url('image/philip-martin-5aGUyCW_PJw-unsplash.png');
}

.slider-right{
    width: 720px;
    height: 100%;
    background-color: #000;
    position: relative;
}
.slider-right>.date {
    position: absolute;
    top: 110px;
    left: 108px;
    font-family: Kanit Light;
    color: white;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 7px;
}
.slider-right>.lifestyle {
    position: absolute;
    top: 107px;
    left: 535px;
    font-family: Kanit Light;
    color: white;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
}
.slider-right>.text-big {
    font-family: Kanit Medium;
    color: white;
    font-size: 28px;
    line-height: 42px;
    text-transform: uppercase;
    position: absolute;
    top: 197px;
    left: 108px;
}
.slider-right>.text-small {
    font-family: Kanit Light;
    color: white;
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    top: 268px;
    left: 108px;
    white-space: pre;
}
.slider-right>button {
    width: 198px;
    height: 55px;
    color: white;
    font-family: Kanit Medium;
    font-size: 14px;
    border: 1px solid white;
    box-sizing: border-box;
    background-color: black;
    position: absolute;
    top: 364px;
    left: 108px;
}
.slider-right>button:focus {
    outline: none;
}
.featured {
    margin: 59px auto 0;
    width: 1141px;
    height: 1574.33px;
    position: relative;
    display: flex;
}
.featured>.title {
    font-family: Kanit Medium;
    font-size: 18px;
    color: #1F1F1D;
    position: absolute;
}
.featured>.img-left {   
    width: 557px;
    height: 368px;
    position: absolute;
    top: 57px;
    background: url('./images/b9ffe28e149d0bcadf2bca68941b95d0.png');
    background-position-y: -191px;
    background-size: 100%;
}
.featured>.img-right {   
    width: 557px;
    height: 368px;
    position: absolute;
    top: 57px;
    right: 0;
    background: url('./images/photo-1492447166138-50c3889fccb1.jpg');
    background-position-y: -285px;
    background-size: 100%;
}
.date {
    position: absolute;
    top: 395px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
}
.lifestyle {
    position: absolute;
    top: 395px;
    left: 498px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
}
.text-left {
    width: 509px;
    height: 145px;
    position: absolute;
    top: 503px;
}
.text-left>.text-big {
    font-size: 24px;
    line-height: 36px;
    color: #1F1F1D;
    font-family: Kanit Medium;
    white-space: inherit;
}
.text-left>.text-small {
    font-size: 18px;
    line-height: 27px;
    font-family: Kanit Light;
    margin-top: 19px;
}
.text-right {
    width: 509px;
    height: 145px;
    position: absolute;
    top: 503px;
    left: 586px;
}
.text-right>.text-big {
    font-size: 24px;
    line-height: 36px;
    color: #1F1F1D;
    font-family: Kanit Medium;
    white-space: inherit;
}
.text-right>.text-small {
    font-size: 18px;
    line-height: 27px;
    font-family: Kanit Light;
    margin-top: 19px;
}
.triple {
    margin: 0  auto;
    width: 1144px;
    height: 463px;
    position: absolute;
    top: 711px;
    display: flex;
    justify-content: space-between;
}
.triple>.left {
    position: absolute;
    width: 365px;
    height: 323px;
}
.triple>.left>.img {
    width: 363px;
    height: 240px;
    background: url('./images/1ef33c0e7ae55571a7b6b8ad65d99578.png');
    background-size: 100%;
}
.triple>.middle {
    position: absolute;
    left: 391px;
    width: 365px;
    height: 323px;
}
.triple>.middle>.img {
    width: 363px;
    height: 240px;
    background: url('./images/0cbaee5c1520b8466c3b785853a3d8cb.png');
    background-size: 100%;
}
.triple>.right {
    position: absolute;
    left: 781px;
    width: 365px;
    height: 323px;
}
.triple>.right>.img {
    width: 363px;
    height: 240px;
    background: url('./images/c09bb601ae59160bff460494f861c13c.png');
    background-size: 100%;
}
.triple>.button {
    width: 238px;
    height: 42px;
    background-color: #303030;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Kanit Medium;
    font-size: 14px;
    cursor: pointer;
    margin: 390px auto 0;
}
.triple>.button:focus {
    outline: none;
}
.triple>.left>.date {
    position: absolute;
    top: 258px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
}
.triple>.left>.lifestyle {
    position: absolute;
    top: 258px;
    left: 304px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
}
.triple>.left>.caption {
    position: absolute;
    top: 298px;
    font-family: Kanit Medium;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}
.triple>.middle>.date {
    position: absolute;
    top: 258px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
}
.triple>.middle>.lifestyle {
    position: absolute;
    top: 258px;
    left: 304px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
}
.triple>.middle>.caption {
    position: absolute;
    top: 298px;
    font-family: Kanit Medium;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}
.triple>.right>.date {
    position: absolute;
    top: 258px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
}
.triple>.right>.lifestyle {
    position: absolute;
    top: 258px;
    left: 304px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
}
.triple>.right>.caption {
    position: absolute;
    top: 298px;
    font-family: Kanit Medium;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}
.event {
    width: 1143px;
    height: 360px;
    top: 1214.33px;
    display: flex;
    position: absolute;
}
.event>.img {
    width: 571.5px;
    height: 100%;
    background: url('./images/sincerely-media-VNsp_2Ml-nA-unsplash.jpg');
    background-size: 100%;
    background-position-y: -220px;
}
.event>.right {
    width: 571.5px;
    height: 100%;
    background-color: #000000;
    position: relative;
}
.event>.right>p {
    color: white;
    font-family: Kanit Medium;
    font-size: 34px;
    position: absolute;
    top: 123.67px;
    left: 116px;
}
.event>.right>button {
    width: 198px;
    height: 42px;
    color: white;
    font-family: Kanit Medium;
    font-size: 14px;
    border: 1px solid white;
    box-sizing: border-box;
    background-color: black;
    position: absolute;
    top: 194.67px;
    left: 187px;
}
.event>.right>button:focus {
    outline: none;
}
.interviews {
    margin: 63px auto 0;
    width: 1144px;
    height: 463px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.interviews>.title {
    font-family: Kanit Medium;
    font-size: 18px;
    color: #1F1F1D;
    position: absolute;
}
.interviews>.left {
    position: absolute;
    top: 64px;
    width: 365px;
    height: 323px;
}
.interviews>.left>.img {
    width: 363px;
    height: 240px;
    background: url('./images/3afdd70c1f36772823ceade9fb3e9a80.png');
    background-size: 100%;
}
.interviews>.middle {
    position: absolute;
    top: 64px;
    left: 391px;
    width: 365px;
    height: 323px;
}
.interviews>.middle>.img {
    width: 363px;
    height: 240px;
    background: url('./images/6255cfa58b0c8e58b8f9cf0a44f17f6e.png');
    background-size: 100%;
}
.interviews>.right {
    position: absolute;
    top: 64px;
    left: 781px;
    width: 365px;
    height: 323px;
}
.interviews>.right>.img {
    width: 363px;
    height: 240px;
    background: url('./images/c7d367d609c7731e836fa338f14f668d.png');
    background-size: 100%;
}
.interviews>.left>.date {
    position: absolute;
    top: 258px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
}
.interviews>.left>.interviews-t {
    position: absolute;
    top: 258px;
    left: 295px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
}
.interviews>.left>.caption {
    position: absolute;
    top: 298px;
    font-family: Kanit Medium;
    font-size: 18px;
    line-height: 27px;
}
.interviews>.middle>.date {
    position: absolute;
    top: 258px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
}
.interviews>.middle>.interviews-t {
    position: absolute;
    top: 258px;
    left: 295px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
}
.interviews>.middle>.caption {
    position: absolute;
    top: 298px;
    font-family: Kanit Medium;
    font-size: 18px;
    line-height: 27px;
}
.interviews>.right>.date {
    position: absolute;
    top: 258px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
}
.interviews>.right>.interviews-t {
    position: absolute;
    top: 258px;
    left: 295px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
}
.interviews>.right>.caption {
    position: absolute;
    top: 298px;
    font-family: Kanit Medium;
    font-size: 18px;
    line-height: 27px;
}
.interviews>.button {
    width: 238px;
    height: 42px;
    background-color: #303030;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Kanit Medium;
    font-size: 14px;
    cursor: pointer;
    margin: 421px auto 0;
}
.interviews>.button:focus {
    outline: none;
}
.news {
    margin: 63px auto 0;
    width: 1144px;
    height: 463px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.news>.title {
    font-family: Kanit Medium;
    font-size: 18px;
    color: #1F1F1D;
    position: absolute;
}
.news>.left {
    position: absolute;
    top: 64px;
    width: 365px;
    height: 323px;
}
.news>.left>.img {
    width: 363px;
    height: 240px;
    background: url('./images/055f744c5c8264e3733507f1ef966340.png');
    background-size: 140%;
    background-position-x: -110px;
    background-position-y: center;
}
.news>.middle {
    position: absolute;
    top: 64px;
    left: 391px;
    width: 365px;
    height: 323px;
}
.news>.middle>.img {
    width: 363px;
    height: 240px;
    background: url('./images/1ba4464e81254e183088a4e4416f34a5.png');
    background-size: 100%;
    background-position-y: center;
}
.news>.right {
    position: absolute;
    top: 64px;
    left: 781px;
    width: 365px;
    height: 323px;
}
.news>.right>.img {
    width: 363px;
    height: 240px;
    background: url('./images/e6a46ba8470bd9cac6ac014dba03774a.png');
    background-size: 102%;
    background-position-y: -81px;
    background-position-x: left;
}
.news>.left>.date {
    position: absolute;
    top: 258px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
}
.news>.left>.news-t {
    position: absolute;
    top: 258px;
    left: 330px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
}
.news>.left>.caption {
    position: absolute;
    top: 298px;
    font-family: Kanit Medium;
    font-size: 18px;
    line-height: 27px;
}
.news>.middle>.date {
    position: absolute;
    top: 258px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
}
.news>.middle>.news-t {
    position: absolute;
    top: 258px;
    left: 330px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
}
.news>.middle>.caption {
    position: absolute;
    top: 298px;
    font-family: Kanit Medium;
    font-size: 18px;
    line-height: 27px;
}
.news>.right>.date {
    position: absolute;
    top: 258px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
}
.news>.right>.news-t {
    position: absolute;
    top: 258px;
    left: 330px;
    font-family: Kanit Medium;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
}
.news>.right>.caption {
    position: absolute;
    top: 298px;
    font-family: Kanit Medium;
    font-size: 18px;
    line-height: 27px;
}
.news>.button {
    width: 238px;
    height: 42px;
    background-color: #303030;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Kanit Medium;
    font-size: 14px;
    cursor: pointer;
    margin: 414px auto 0;
}
.news>.button:focus {
    outline: none;
}
.footer {
    margin: 100px auto 0;
    width: 1440px;
    height: 120px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer>p {
    color: #fff;
    font-family: Kanit ExtraLight;
    position: absolute;
    top: 100px;
    font-size: 10px;
}
aside {
    position: absolute;
    width: 344px;
    height: 359px;
    background-color: white;
    top: 106px;
    left: 51px;
    
}
aside>div {
    display: flex;
    flex-direction: column;
    margin: 39px 66px;
}
aside>div>a {
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    font-family: Kanit Light;
    color: black;
    margin-top: 13px;
}
aside>div>a:active {
    color: black;
}
.line-1 {
    position: absolute;
    background-color: black;
    width: 30.41px;
    height: 0px;
    left: 52px;
    top: 52px;  
    border: 1px solid #000000;
    transform: matrix(0.69, -0.72, -0.72, -0.69, 0, 0);
}
.line-2 {
    position: absolute;
    background-color: black;
    width: 30.41px;
    height: 0px;
    left: 52px;
    top: 52px;
    border: 1px solid #000000;
    transform: rotate(46.33deg);
}