@import url(font.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-suffix{
    margin-top: 3px;
}
.x-menu{
    margin: 3px 0px 0px -1px;
    position: absolute;
    left: 281px;
    height: 30px;
    width: 30px;
}
.x-menu ul{
    list-style: none;
}
.x-menu li ul {
    display: none;
}
.x-menu li:hover>ul{
    display: block;
}
.text-x{
    width: 344px;
    height: 359px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgb(219, 219, 219);
    margin: 24px 0px 0px 5px;
    padding: 40px;
    font-size: 16px;
}
.text-x1{
    color: black; 
    font-family: 'Kanit';
    font-weight: 500;
    font-style: normal;
}
.text-x2{
    margin: 14px 0px 0px 22px
}
.slider{
    width: 1440px;
    height: 570px;
    margin: 0px auto;
    display: flex;
}
.slider-left{
    width: 720px;
    height: 100%;
    background-image: url(./images/philip-martin-5aGUyCW_PJw-unsplash.png);
}

.slider-right{
    width: 720px;
    height: 100%;
    background-color: #000;
    color: white;
    font-family: 'Kanit';
    font-style: normal;
    padding: 109px 108px 0px 101px;
}
.textSR{
    float: left;
    font-size: 14px;
    margin-left: 7px;
    letter-spacing: 7px;
    margin: 3px 0px 0px 6px;
}
.textSR1{
    text-align: end;
    font-size: 16px;
    text-decoration: underline;
    margin: -2px 0 0 0;
}
.textSR2{
    font-size: 28px;
    margin: 66px 0 0 7px;
    letter-spacing: 0.38px;
}
.textSR3{
    font-size: 14px;
    margin: 29px 0 0 7px;

}
.textSR4{
    font-size: 12px;
    margin: 56px 0 0 8px;
    border: 1px solid white;
    width: 196px;
    height: 54px;
    text-align: center;
    line-height: 4;
}
.FEAT{
    font-size: 18px;
    font-family: 'Kanit';
    padding: 61px;
    margin: -1px 0px 0px 320px;
}
.slider1{
    width: 1136px;
    height: 368px;
    margin: 0px auto;
    display: flex;
}
.slider-left1{
    width: 557px;
    height: 100%;
    background-image: url(./images/feat1.png);
    margin: -31px 22px 0px -1px;
}
.slider-right1{
    width: 557px;
    height: 100%;
    background-image: url(./images/feat2.png);
    margin-left: 7px;
    margin-top: -31px;
}
.ar{
    width: 1136px;
    height: 215px;
    margin: 0px auto;
    display: flex;
    font-family: 'Kanit';
}
.column1{
    width: 557px;
    height: 100%;
    margin: -31px 22px 0px -1px;
}
.column2{
    width: 557px;
    height: 100%;
    margin-left: 7px;
    margin-top: -31px;
}
.column1t1{
    float: left;
    font-size: 12px;
    margin: -3px 0px 0px -1px;
    letter-spacing: 6px;
}
.column1t2{
    text-align: end;
    font-size: 12px;
    text-decoration: underline;
    margin: 28px 0 0 0;
}
.column1t3{
    font-size: 24px;
    margin: 31px 0 0 -2px;
}
.column1t4{
    font-size: 18px;
    margin: 21px 0 0 -3px;
    font-family: 'Kanit-light';
}
.column2t1{
    float: left;
    font-size: 12px;
    margin: -3px 0px 0px 1px;
    letter-spacing: 6px;
}
.column2t2{
    text-align: end;
    font-size: 12px;
    text-decoration: underline;
    margin: 28px -2px 0 0px;
}
.column2t3{
    font-size: 24px;
    margin: 31px 0 0 1px;
}
.column2t4{
    font-size: 18px;
    margin: 21px 0 0 0px;
    font-family: 'Kanit-light';
}
.slider2{
    width: 1158px;
    height: 240px;
    margin: 0px auto;
    display: flex;
}
.slider-left2{
    width: 363px;
    height: 100%;
    background-image: url(./images/img-1.png);
    margin: 38px 0 0px 6px;
}
.slider-center2{
    width: 363px;
    height: 100%;
    background-image: url(./images/img-2.png);
    margin: 38px 0px 0 29px;
}
.slider-right2{
    width: 363px;
    height: 100%;
    background-image: url(./images/img-3.png);
    margin: 38px 0 0 25px;
}
.ar1{
    width: 1158px;
    height: 110px;
    margin: 0px auto;
    display: flex;
    font-family: 'Kanit';
}
.column21{
    width: 363px;
    height: 100%;
    margin: 38px 0 0px 6px;
}
.column22{
    width: 363px;
    height: 100%;
    margin: 38px 0px 0 29px;
}
.column23{
    width: 363px;
    height: 100%;
    margin: 38px 0 0 25px;
}
.column21t1{
    float: left;
    font-size: 12px;
    margin: 0px 0px 0px 2px;
    letter-spacing: 6px;
}
.column21t2{
    text-align: end;
    font-size: 12px;
    text-decoration: underline;
    margin: 17px -2px 0px 0px;
}
.column21t3{
    font-size: 18px;
    margin: 23px 0 0 4px;
    letter-spacing: 0.3px;
}
.column22t1{
    float: left;
    font-size: 12px;
    margin: 0px 0px 0px -1px;
    letter-spacing: 6px;
}
.column22t2{
    text-align: end;
    font-size: 12px;
    text-decoration: underline;
    margin: 17px 1px 0 0px;
}
.column22t3{
    font-size: 18px;
    margin: 24px 0px 0px 0px;
    letter-spacing: 0.3px;
}
.column23t1{
    float: left;
    font-size: 12px;
    letter-spacing: 6px;
}
.column23t2{
    text-align: end;
    font-size: 12px;
    text-decoration: underline;
    margin: 17px -1px 0 0;
}
.column23t3{
    font-size: 18px;
    margin: 24px 0 0 1px;
    letter-spacing: 0.3px;
}
.see{
    font-size: 14px;
    color: #FFFFFF;
    border: 1px solid white;
    width: 238px;
    height: 42px;
    text-align: center;
    line-height: 3;
    background-color: #303030;
    margin: 79px auto;
    letter-spacing: 0.3px;
}
.slider3{
    width: 1143px;
    height: 360px;
    margin: -8px auto;
    display: flex;
}
.slider-left3{
    width: 571.5px;
    height: 100%;
    background-image: url(./images/s3.png);
}
.slider-right3{
    width: 571.5px;
    height: 100%;
    background-color: #000000;
    color: white;
    font-family: 'Kanit';
    font-style: normal;
    text-align: center;
    
}

.textSR31{
    font-size: 34px;
    margin: 125px 0 0 -6px;
    letter-spacing: 0.8px;
    
}
.textSR32{
    font-size: 14px;
    border: 1px solid white;
    width: 198px;
    height: 42px;
    text-align: center;
    line-height: 3;
    margin: 21px 0px 0px 188px;
}
.int{
    font-size: 18px;
    font-family: 'Kanit';
    padding: 61px;
    margin: 11px 0px 0px 320px;
}
.slider4{
    width: 1158px;
    height: 240px;
    margin: 0px auto;
    display: flex;
}
.slider-left4{
    width: 363px;
    height: 100%;
    background-image: url(./images/img-5.png);
    margin: -30px 0 0px 6px;
}
.slider-center4{
    width: 363px;
    height: 100%;
    background-image: url(./images/img-6.png);
    margin: -30px 0px 0 29px;
}
.slider-right4{
    width: 363px;
    height: 100%;
    background-image: url(./images/img-7.png);
    margin: -30px 0 0 25px;
}
/* ------------------------------------------- */
.column24{
    width: 363px;
    height: 100%;
    margin: -37px 0 0px 6px;
}
.column25{
    width: 363px;
    height: 100%;
    margin: -37px 0px 0 29px;
}
.column26{
    width: 363px;
    height: 100%;
    margin: -37px 0 0 25px;
}
.column24t1{
    float: left;
    font-size: 12px;
    margin: -2px 0px 0px 2px;
    letter-spacing: 6px;
}
.column24t2{
    text-align: end;
    font-size: 12px;
    text-decoration: underline;
    margin: 19px -2px 0px 0px;
}
.column24t3{
    font-size: 18px;
    margin: 26px 0 0 4px;
    letter-spacing: 0.3px;
}
.column25t1{
    float: left;
    font-size: 12px;
    margin: -2px 0px 0px -1px;
    letter-spacing: 6px;
}
.column25t2{
    text-align: end;
    font-size: 12px;
    text-decoration: underline;
    margin: 19px 0px 0 0px;
}
.column25t3{
    font-size: 18px;
    margin: 28px 0px 0px 0px;
    letter-spacing: 0.3px;
}
.column26t1{
    float: left;
    font-size: 12px;
    letter-spacing: 6px;
    margin: -2px 0 0 0;
}
.column26t2{
    text-align: end;
    font-size: 12px;
    text-decoration: underline;
    margin: 19px -3px 0 0;
}
.column26t3{
    font-size: 18px;
    margin: 28px 0 0 1px;
    letter-spacing: 0.3px;
}
.see1{
    font-size: 14px;
    color: #FFFFFF;
    border: 1px solid white;
    width: 238px;
    height: 42px;
    text-align: center;
    line-height: 3;
    background-color: #303030;
    margin: -17px auto;
    letter-spacing: 0.3px;
}
.NEWS{
    font-size: 18px;
    font-family: 'Kanit';
    padding: 61px;
    margin: -29px 0px 0px 320px;
}
.slider5{
    width: 1158px;
    height: 240px;
    margin: 0px auto;
    display: flex;
}
.slider-left5{
    width: 363px;
    height: 100%;
    background-image: url(./images/s5.jpg);
    margin: -32px 0 0px 6px;
}
.slider-center5{
    width: 363px;
    height: 100%;
    background-image: url(./images/s51.jpg);
    margin: -32px 0px 0 29px;
}
.slider-right5{
    width: 363px;
    height: 100%;
    background-image: url(./images/s52.jpg);
    margin: -32px 0 0 25px;
}
/* ----------------------------------------- */
.column27{
    width: 363px;
    height: 100%;
    margin: -37px 0 0px 6px;
}
.column28{
    width: 363px;
    height: 100%;
    margin: -37px 0px 0 29px;
}
.column29{
    width: 363px;
    height: 100%;
    margin: -37px 0 0 25px;
}
.column27t1{
    float: left;
    font-size: 12px;
    margin: 0px 0px 0px 2px;
    letter-spacing: 6px;
}
.column27t2{
    text-align: end;
    font-size: 12px;
    text-decoration: underline;
    margin: 24px -2px 0px 0px;
}
.column27t3{
    font-size: 18px;
    margin: 22px 0 0 4px;
    letter-spacing: 0.3px;
}
.column28t1{
    float: left;
    font-size: 12px;
    margin: 1px 0px 0px -1px;
    letter-spacing: 6px;
}
.column28t2{
    text-align: end;
    font-size: 12px;
    text-decoration: underline;
    margin: 23px 0px 0 0px;
}
.column28t3{
    font-size: 18px;
    margin: 25px 0px 0px 2px;
    letter-spacing: 0.3px;
}
.column29t1{
    float: left;
    font-size: 12px;
    letter-spacing: 6px;
    margin: 0px 0 0 0;
}
.column29t2{
    text-align: end;
    font-size: 12px;
    text-decoration: underline;
    margin: 24px -3px 0 0;
}
.column29t3{
    font-size: 18px;
    margin: 24px 0 0 1px;
    letter-spacing: 0.3px;
}
.see2{
    font-size: 14px;
    color: #FFFFFF;
    border: 1px solid white;
    width: 238px;
    height: 42px;
    text-align: center;
    line-height: 3;
    background-color: #303030;
    margin: -23px auto;
    letter-spacing: 0.3px;
}
.footer{
    height: 163px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 122px;
    line-height: 4;
    padding: 0px 0 9px 0px;
}
.footer-suffix{
    position: absolute;
}
.textF{
    color: white;
    font-size: 12px;
    margin: 107px 0 0 0px;
    letter-spacing: 0.45px;
}