@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("./fonts/Gilroy-Black.woff") format("woff"), url("./fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("./fonts/Gilroy-Bold.woff") format("woff"), url("./fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("./fonts/Gilroy-Light.woff") format("woff"), url("./fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("./fonts/Gilroy-Medium.woff") format("woff"), url("./fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("./fonts/Gilroy-Regular.woff") format("woff"), url("./fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("./fonts/Gilroy-SemiBold.woff") format("woff"), url("./fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 4px;
  background-color: #1d153d;
}

html::-webkit-scrollbar-thumb {
  background-color: #8c30f5;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
          box-shadow: inset 1px 1px 10px #f3faf7;
}

html,
body,
a,
p,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  list-style: none;
  border-width: 0;
  font-family: "Gilroy", sans-serif;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.noScroll {
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #333;
}

.button {
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  text-align: center;
  color: #fff;
  background-color: #ff7900;
  display: inline-block;
}

.title {
  font-size: 20px;
  line-height: 1.5;
  color: #ff7900;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
}

.title::after {
  content: "";
  position: absolute;
  left: calc(100% + 15px);
  top: 50%;
  height: 2px;
  width: 70px;
  background-color: #333;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 36px;
  border-bottom: 1px solid #d9d9d9;
}

.header__contacts p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #a1a1a1;
}

.header__contacts p a {
  font-weight: 700;
  color: #a1a1a1;
}

.header__logo {
  width: 195px;
  height: 72px;
}

.header__logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__button {
  width: 267px;
}

.header__nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 55px;
  padding: 15px;
}

.header__nav .menu-item a {
  font-size: 16px;
  line-height: 1.75;
  color: #222831;
  font-weight: 700;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.header__nav .menu-item:last-of-type a,
.header__nav .menu-item:hover a {
  color: #ff7900;
}

.content {
  margin: 0 auto;
}

.advantages {
  padding: 52px 0 112px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 62px;
}

.advantages__item {
  padding-left: 24px;
  position: relative;
}

.advantages__item::before {
  content: "";
  height: 80%;
  width: 3px;
  position: absolute;
  left: 0;
  top: 10%;
  background-color: #ff7900;
}

.advantages__item p {
  font-size: 14px;
  line-height: 2.14;
  color: #000;
}

.advantages__item p strong {
  font-weight: 700;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 67px;
}

.about__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 30px;
}

.about__item {
  padding-left: 56px;
  position: relative;
}

.about__item p {
  font-size: 14px;
  line-height: 1.86;
  color: #9a9a9a;
}

.about__icon {
  position: absolute;
  left: 0;
  top: 7px;
  height: 32px;
  width: 32px;
}

.about__icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about__heading {
  color: #ff7900;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.24;
}

.about__subHeading {
  margin: 8px 0;
  color: #ff7900;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
}

.about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 487px;
          flex: 0 0 487px;
  padding: 55px 25px 55px 30px;
  background-color: #ff7900;
  position: relative;
  overflow: hidden;
}

.about__info p {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
}

.about__info::after,
.about__info::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  opacity: 0.17;
}

.about__info::before {
  height: 420px;
  width: 420px;
  border: 5px solid #fff;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-30%, 35%);
      -ms-transform: translate(-30%, 35%);
          transform: translate(-30%, 35%);
}

.about__info::after {
  height: 220px;
  width: 220px;
  border: 2px solid #fff;
  top: 0;
  right: 0;
  -webkit-transform: translate(30%, -50%);
      -ms-transform: translate(30%, -50%);
          transform: translate(30%, -50%);
}

.about__title {
  color: #fff;
}

.about__title::after {
  background-color: #fff;
}

.about__infoHeading {
  font-weight: 700;
  color: #fff;
  font-size: 29px;
  line-height: 1.2;
  margin: 8px 0 14px;
}

.services {
  padding: 138px 0 70px;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.services__textSlider {
  padding-top: 8px;
  max-width: 360px;
}

.services__textSlider__item p {
  font-size: 18px;
  line-height: 1.55;
  color: #9a9a9a;
  max-height: 100px;
  overflow: hidden;
}

.services__heading {
  margin-bottom: 20px;
}

.services__boxSlider {
  position: relative;
  padding: 60px 0 0 36px;
}

.services__boxSlider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 156px;
  background-color: #ff7900;
  z-index: -1;
}

.services__boxSlider__item {
  padding: 50px 0 47px;
  background-color: #fff;
  -webkit-box-shadow: 3px 1px 16px rgba(136, 136, 136, 0.19);
          box-shadow: 3px 1px 16px rgba(136, 136, 136, 0.19);
  width: 240px;
}

.services__boxSlider__item p {
  padding: 0 20px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #333;
}

.services__boxSlider__item p strong {
  font-weight: 700;
  color: #ff7900;
}

.services__photo {
  height: 160px;
  width: 240px;
  margin-bottom: 22px;
}

.services__photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products {
  height: 840px;
  padding: 70px 0;
  overflow: hidden;
}

.products__heading {
  padding-top: 8px;
  max-width: 740px;
  margin-bottom: 55px;
}

.products__menu {
  position: relative;
}

.products__item {
  margin-bottom: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.products__item:last-of-type {
  margin-bottom: 0;
}

.products__item > p {
  padding: 15px 34px;
  width: 360px;
  background-color: #f5f5f5;
  border-left: 5px solid transparent;
  color: #333;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.products__item:hover > p,
.products__item--active > p {
  border-color: #ff7900;
  color: #ff7900;
  background-color: rgba(255, 121, 0, 0.24);
}

.products__item:hover:not(.products__item--active) > p {
  border-color: transparent;
  color: #333;
}

.products__item--active .products__list {
  visibility: visible;
  opacity: 1;
  top: 0;
  left: 426px;
}

.products__list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.products__text {
  margin-bottom: 51px;
}

.products__text p {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.56;
  color: #333;
}

.products__text p strong {
  font-weight: 600;
  color: #ff7900;
}

.products__product {
  width: 240px;
}

.products__row {
  background-color: #f5f5f5;
  margin-bottom: 8px;
  padding: 34px 22px 18px;
}

.products__row p {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.56;
  color: #333;
}

.products__photo {
  background-color: #fff;
  border-radius: 50%;
  height: 190px;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.products__photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.products__button {
  width: 100%;
}

@media (min-width: 767px) {
  .content {
    width: calc(300px + 840 * (100vw / 1440));
  }
}

@media (min-width: 1440px) {
  .content {
    width: 1140px;
  }
}

@media (max-width: 767px) {
  .content {
    width: calc(300px + 1428 * ((100vw - 320px) / 1440));
  }
}